* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background: rgb(255, 255, 255);
}

main {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 5rem;
}

.hero--wrapper {
    padding: 1rem;
    background: url(https://images.unsplash.com/photo-1655929471327-4bd1f6d7838b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.text--wrapper {
    background-color: rgba(27, 27, 27, 0.815);
    padding: 1rem 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.first--section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.border {
    padding: 1rem .5rem;
}

.border > * {
    margin: 5px 0px;
}
.btn {
    outline: none;
    border: none;
    padding: .5rem 2rem;
    background: orange;
    font-weight: 700;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 100vmax;  /* use vmax to set button border radius itself when we change font size  */
    transition: all .1s ease;
    transform: translate(0px, 0px);
}
.btn:active {
    transform: translate(8px, 5px);
}

.box-style {
    padding: 1rem .5rem;
}

.box-style > * {
    margin: .5rem 0px;
}

p > span {
    background: rgb(223, 223, 223);
    padding: .2rem .3rem;
}

.open {
    outline: none;
    border: none;
    padding: .5rem 1rem;
    background: orange;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}


.overlay--container {
    background: white;
    box-shadow: 0px 0px 0 500vmax rgba(0, 0, 0, 0.425), 1px 1px 5px 2px rgba(17, 16, 16, 0.178);
    width: 400px;
    padding: 1rem;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 150px;
    display: none;
}
.overlay--container[open] {
    display: block;
}
.overlay--container[close] {
    display: none;
}
.overlay--container > * {
    margin: 10px 0;
}

.overlay--container button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    background: orange;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 50vmax;
}
.overlay--container button:hover {
    background: rgb(247, 192, 90);
}


.last--section {
    background: rgba(0, 0, 0, 0.966);
    color: white;
    padding: 1rem;
    border-radius: 2px;
    height: 100px;
}
/* .full-width {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translateX(-50%);
} */
.full-width {
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0);
    clip-path: inset(0 100vmax);
}
heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.last--section p {
    margin: 8px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}